body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

th,
td {
  border: 0px solid #fff !important;
}

@media screen and (min-width: 600px) {
  body {
    display: none;
  }
}

.MuiAccordionSummary-content {
  margin: 0 !important;
  flex-grow: unset !important;
}
